@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0, 0, 0;
  --background: 255, 255, 255;
}

.dark {
  --foreground: 255, 255, 255;
  --background: 17, 17, 17;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  min-height: 100vh;
}

/* Assurez-vous que le contenu est visible */
main {
  min-height: 70vh;
  position: relative;
  z-index: 10;
  padding: 1rem;
}

html, body {
  height: 100%;
}

/* Force les styles de visibilité pour déboguer */
h1, h2, h3, p {
  opacity: 1 !important;
  visibility: visible !important;
}